/* ./styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Geometria;
  font-weight: 300;
  src: url("../fonts/geometria-cdnfonts/Geometria-Light.ttf");
}

@font-face {
  font-family: Geometria;
  font-weight: 400;
  src: url("../fonts/geometria-cdnfonts/Geometria.ttf");
}

@font-face {
  font-family: Geometria;
  font-weight: 500;
  src: url("../fonts/geometria-cdnfonts/Geometria-Medium.ttf");
}


@font-face {
  font-family: Geometria;
  font-weight: 700;
  src: url("../fonts/geometria-cdnfonts/Geometria-Heavy.ttf");
}

@font-face {
  font-family: Geometria;
  font-weight: 900;
  src: url("../fonts/geometria-cdnfonts/Geometria-Bold.ttf");
}
